* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/background.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Main Header & Navigation */
#headerContainer {
	width: 960px;
	height: 90px;
	margin: 0 auto;
	position: relative;
}

#nameHeader {
	background-color: #00aba0;
	color: #ffffff;
	font-size: 40px;
	height: 87px;
	display: inline-block;
	padding: 20px;
	position: relative;
}

#nameHeader h1 {
	font-family: 'Georgia', 'Times New Roman', serif;
}

header {
	height: 90px;
	border-bottom: 3px solid #cccccc;
	position: relative;
	background-color: #fff;
}

nav {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 30px;
}

nav ul li {
	display: inline-block;
	margin-right: 25px;
	padding: 5px;
}

nav ul li a {
	text-decoration: none;
}